.hero {
  position: relative; 
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* Swiper behind content*/
.hero-swiper {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.hero img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

/* Overlay above swiper */
.hero-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

/* Content on top */
.hero-content {
  position: absolute;
  inset: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 1rem;
}
