.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.news-search {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.news-search input {
    flex: 1;
    max-width: 520px;
    padding: 16px 20px;
    border-radius: 999px;
    border: none;
    outline: none;
    font-size: 16px;
}

.news-search button {
    background-color: #38bdf8;
    color: #0f172a;
}